/* Add your CSS rules here */
body {
  background-color: darkgray;
}

/* Add this CSS to align the navigation bar to the right */
.nav-wrapper {
  margin-left: auto;
}

.active {
  color: orangered; /* Change to your active color */
  font-weight: bold; }
